<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devmaster</title>
    <link rel="stylesheet" href="../CSS/devmaster.css">
</head>
<body>
    <section class="main-header">
        <header class="container d-flex">
            <a href="#" class="top-header d-flex">
                <div class="left-logo">
                    <img src="../Images/logo.png" alt="logo" width="120px">
                </div>
                <div class="right-logo">
                    <h2 class="main-color">VIỆN CÔNG NGHỆ VÀ ĐÀO TẠO DEVMASTER</h2>
                    <p class="main-color">Đào tạo - Phần mềm - Cho thuê nhân sự</p>
                </div>
            </a>
            <ul class="tel d-flex">
                <li><a href="#" class="main-color">0969609003</a></li>
                <li><a href="#" class="main-color">0978611889</a></li>
            </ul>
        </header>
        <nav class="main-menu">
            <ul class="list-level-1 d-flex">
                <li class="item-level-1 ">
                    <a href="#" class="item color-white">TRANG CHỦ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">CÁC KHÓA ĐÀO TẠO</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">LẬP TRÌNH CHO TRẺ EM</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">DỊCH VỤ</a>
                    <div class="menu-level-2">
                        <ul class="list-level-2">
                            <li class="item-level-2">
                                <a href="#" class="item">Đào tạo theo nhu cầu</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Cung cấp thiết bị phần mềm</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tư vấn - Thiết kế mạng hạ tầng</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tư vấn - Triển khai dịch vụ mạng</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tư vấn - Tư vấn, triển khai giám sát hệ thống</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Thực tập dụ án</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">LỊCH KHAI GIẢNG</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">TIN TỨC</a>
                    <div class="menu-level-2">
                        <ul class="list-level-2">
                            <li class="item-level-2">
                                <a href="#" class="item">Tin tức và sự kiện</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tin hoạt động</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tin công nghệ</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Hội thảo, workshop, Codecam</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Thông tin việc làm</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Cẩm nang chia sẻ kiến thức</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">TIỆN ÍCH</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </section>
    <div class="slider">
        <img src="../Images/devmaster-lap-trinh-vien-website-php-va-mysql-chuyen-nghiep.png" alt="">
    </div>
</body>
</html>