<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <header class="container bg-white">
        <nav class="menu d-flex justify-evenly">
            <div class="left-menu w-20">
                <img src="../Images/logo.png" alt="logo">
            </div>
            <div class="right-menu w-50">
                <ul class="list-item d-flex justify-evenly">
                    <li class="item">
                        <a class="font" href="#">Trang chủ</a>
                    </li>
                    <li class="item">
                        <a class="font" href="#">Giới thiệu</a>
                    </li>
                    <li class="item">
                        <a class="font" class="font" href="#">Sản phẩm</a>
                    </li>
                    <li class="item">
                        <a class="font" class="font" href="#">Tin tức</a>
                    </li>
                    <li class="item">
                        <a class="font" href="#">Đối tác</a>
                    </li>
                    <li class="item">
                        <a class="font" href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="wrapper1">
        <div class="banner">
            <div class="bg-banner">
                <img class="w-100"src="../Images/banner.png" alt="Banner">
                <div class="information">
                    <div class="details">
                        <h2 class="color-dark-blue">
                            Thế giới nội thất số 1 việt nam</br> 
                            <span class="color-brown">Hoàng Hoan</span>
                        </h2>
                        <p>
                            Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong</br>
                            muốn của khách hàng, đem lại những giây phút thư giãn tuyệt vời</br>
                            bên gia đình và những người thân yêu.
                        </p>
                    </div>
                    <div class="btn-contact-bg uppercase-text ">
                        <a href="#">
                            <input type="button" class="btn-contact uppercase-text" id="btn-contact" value="Liên hệ ngay">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper2">
        <div class="container2">
            <ul class="list-product d-flex">
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-phong-khach.png" alt="Phòng khách">
                        <h4>Phòng khách</h4>
                    </a>
                </li>
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-phong-ngu.png" alt="Phòng ngủ">
                        <h4>Phòng ngủ</h4>
                    </a>
                </li>
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-phong-bep.png" alt="Phòng bếp">
                        <h4>Phòng bếp</h4>
                    </a>
                </li>
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-phong-tam.png" alt="Phòng tắm">
                        <h4>Phòng tắm</h4>
                    </a>
                </li>
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-tre-em.png" alt="Trẻ em">
                        <h4>Trẻ em</h4>
                    </a>
                </li>
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-van-phong.png" alt="Văn phòng">
                        <h4>Văn phòng</h4>
                    </a>
                </li>
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-cau-thang.png" alt="Cầu thang">
                        <h4>Cầu thang</h4>
                    </a>
                </li>
                <li class="product w-25">
                    <a href="#">
                        <img src="../Images/loai-sp/icon-do-trang-tri.png" alt="Đồ trang trí">
                        <h4>Đồ trang trí</h4>
                    </a> 
                </li>
            </ul>
        </div>
    </section>
    <section class="wrapper3">
        <div class="best-seller d-flex">
            <div class="best-seller-content">
                <h3 class="color-dark-blue content-h3">SẢN PHẨM NỔI BẬT</h3>
            </div>
            <div class="best-seller-product">
                <div class="best-seller-item d-flex">
                    <a href="#">
                        <div class="best-seller-img">
                            <img src="../Images/san-pham-noi-bat/sp-1.jpg" alt="Giường Châu Âu">
                        </div>
                        <div class="best-seller-detail d-flex">
                            <h4 class="color-dark-blue">GIƯỜNG CHÂU ÂU</h4>
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>(Size lớn, trắng sữa)</p>
                            <h5>8.999.000 VNĐ</h5>
                        </div>
                    </a>
                    <a href="#">
                        <div class="best-seller-img">
                            <img src="../Images/san-pham-noi-bat/sp-2.jpg" alt="Bàn làm việc">
                        </div>
                        <div class="best-seller-detail d-flex">
                            <h4 class="color-dark-blue">BÀN LÀM VIỆC</h4>
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>(Size vừa, trắng nâu)</p>
                            <h5>3.999.000 VNĐ</h5>
                        </div>
                    </a>
                    <a href="#">
                        <div class="best-seller-img">
                            <img src="../Images//san-pham-noi-bat/sp-3.jpg" alt="Tủ quần áo">
                        </div>
                        <div class="best-seller-detail d-flex">
                            <h4 class="color-dark-blue">TỦ QUẦN ÁO</h4>
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn, trắng gỗ)</p>
                            <h5>12.999.000 VNĐ</h5>
                        </div>
                    </a>
                    <a href="#">
                        <div class="best-seller-img">
                            <img src="../Images//san-pham-noi-bat/sp-4.jpg" alt="Kệ để đồ">
                        </div>
                        <div class="best-seller-detail d-flex">
                            <h4 class="color-dark-blue">KỆ ĐỂ ĐỒ</h4>
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn, trắng gỗ)</p>
                            <h5>2.499.000 VNĐ</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper4">
        <div class="bg-container3">
            <div class="about-us">
                <div class="about-us-content">
                    <h3 class="content-h3 color-white text-center">VỀ CHÚNG TÔI</h3>
                </div>
                <div class="about-us-detail d-flex">
                    <div class="about-us-detail-left">
                        <img src="../Images/ve-chung-toi/ve-chung-toi.jpg" alt="anh1">
                    </div>
                    <div class="about-us-detail-right">
                        <div class="about-us-title">
                            <h4 class="color-white">NỘI THẤT <span class="color-white">HOÀNG HOAN</span></br>
                                UY TÍN SONG HÀNH CHẤT LƯỢNG
                            </h4>
                            <p class="color-white">Nội thất <span class="color-white">Hoàng Hoan</span> chúng tôi tự hào là đứa con tinh thần ra đời sau hơn 30 năm hoạt động trong lĩnh vực
                                kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ HOÀNG HOAN nổi tiếng
                            </p>
                            <p class="color-white">
                                Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH Kiến Trúc Hà Nội với nhiều năm kinh nghiệm, luôn tràn đầy
                                nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản
                                xuất đa dạng các sản phẩm với giá cả luôn cạnh tranh.
                            </p>
                        </div>
                        <div class="about-us-picture">
                            <img src="../Images/ve-chung-toi/ve-chung-toi-1.jpg" alt="">
                            <img src="../Images/ve-chung-toi/ve-chung-toi-2.jpg" alt="">
                            <img src="../Images/ve-chung-toi/ve-chung-toi-3.jpg" alt="">
                            <img src="../Images/ve-chung-toi/ve-chung-toi-4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="funtion">
                <div class="function-title">
                    <h3 class="content-h3 color-white text-center">TẠI SAO NÊN CHỌN HOÀNG HOAN?</h3>
                </div>
                <div class="function-box">
                    <ul class="list-box d-flex">
                        <li class="box">
                            <a class="d-flex" href="#">
                                <img src="../Images/ve-chung-toi/chinh-sach.jpg" alt="Chính sách giá">
                                <div class="box-text">
                                    <h4 class="color-brown">CHÍNH SÁCH GIÁ</h4>
                                    <p>Tốt nhất và công khai giá trên website</p>
                                </div>
                            </a>
                        </li>
                        <li class="box">
                            <a class="d-flex" href="#">
                                <img src="../Images/ve-chung-toi/san-pham.jpg" alt="Sản xuất">
                                <div class="box-text">
                                    <h4 class="color-brown">SẢN XUẤT</h4>
                                    <p>Trực tiếp sản xuất bởi đội ngũ nhân viên hàng đầu</p>
                                </div>
                            </a>
                        </li>
                        <li class="box">
                            <a class="d-flex" href="#">
                                <img src="../Images/ve-chung-toi/chat-luong.jpg" alt="Chất lượng">
                                <div class="box-text">
                                    <h4 class="color-brown">CHẤT LƯỢNG</h4>
                                    <p>Cam kết chất lượng sản phẩm và tiến độ thi công</p>
                                </div>
                            </a>
                        </li>
                        <li class="box">
                            <a class="d-flex" href="#">
                                <img src="../Images/ve-chung-toi/bao-hanh.jpg" alt="Bảo hành">
                                <div class="box-text">
                                    <h4 class="color-brown">BẢO HÀNH</h4>
                                    <p>Dịch vụ bảo hành sản phẩm tốt nhất khu vực</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>
</html>