<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devmaster</title>
    <link rel="stylesheet" href="../CSS/devmaster-2.css">
</head>
<body>
    <header class="header">
        <nav class="main-menu">
            <ul class="list-level-1 d-flex">
                <li class="item-level-1">
                    <a href="#" class="item color-white">TRANG CHỦ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">CÁC KHÓA ĐÀO TẠO</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">LẬP TRÌNH CHO TRẺ EM</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">DỊCH VỤ</a>
                    <div class="menu-level-2">
                        <ul class="list-level-2">
                            <li class="item-level-2">
                                <a href="#" class="item">Đào tạo theo nhu cầu</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Cung cấp thiết bị phần mềm</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tư vấn - Thiết kế mạng hạ tầng</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tư vấn - Triển khai dịch vụ mạng</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tư vấn - Tư vấn, triển khai giám sát hệ thống</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Thực tập dụ án</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">LỊCH KHAI GIẢNG</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">TIN TỨC</a>
                    <div class="menu-level-2">
                        <ul class="list-level-2">
                            <li class="item-level-2">
                                <a href="#" class="item">Tin tức và sự kiện</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tin hoạt động</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Tin công nghệ</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Hội thảo, workshop, Codecam</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Thông tin việc làm</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item">Cẩm nang chia sẻ kiến thức</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">TIỆN ÍCH</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <div class="title d-flex">
            <h2>
                CÁC KHÓA HỌC <span>CHUYÊN ĐỀ</span>
            </h2>
        </div>
        <div class="slider d-flex">
            <a href="#">                
                <div class="slide">
                    <img src="../Images/anh2.jpg" alt="Lập trình ứng dụng di động ANDROID">
                </div>
            </a>
            <a href="#">                
                <div class="slide">
                    <img src="../Images/anh3.jpg" alt="Lập trình ứng dụng với WINDOWS FORM C#">
                </div>
            </a>
            <a href="#">                
                <div class="slide">
                    <img src="../Images/anh4.jpg" alt="Lập trình ứng dụng với JAVA (FORM)">
                </div>
            </a>
            <a href="#">                
                <div class="slide">
                    <img src="../Images/anh5.jpg" alt="Lập trình web với CÔNG NGHỆ .NET MVC 5">
                </div>
            </a>
        </div>
    </section>
</body>
</html>